.post-container
{
    width: 80%;
    margin:  0 auto;
    min-height: calc(100vh - 102px);
    padding-top: 50px;
    padding-bottom: 80px;
}

.post-title
{
    margin-bottom: 5rem;
    font-weight: 300;
    text-align: center;
    font-size: 35px;
}

.post-caption {
    font-size: 14px;
    color: #a9a9a9;
}

.upload-box__img {
    margin-top: 40px;
    display: block;
}
