*
{
    box-sizing: border-box;
}

body
{
    min-width: 320px;
    position: relative;
    background: #ececec;
    font-size: 16px;
    color: #000;
    overflow-x: hidden;
    opacity: 1;
}

a
{
    text-decoration: none;
}

.text-left
{
    text-align: left;
}

.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

.text-upper
{
    text-transform: uppercase;
}